@{
    ViewData[Constants.Title] = miniblog.Properties.Resources.Offline;
}
<div class="container">
    <h1>@miniblog.Properties.Resources.Offline</h1>
    <p>@miniblog.Properties.Resources.ThePageYouRequestedCanNotBeShownBecauseYouAreOffline</p>
</div>
